utils/cropped
# ignore everything in faces directory:
src/model/faces/**
src/model/train/**
src/model/test/**
src/model/david/**
venv/**
src/model/keras/**
src/model/*.h5
build/**
Images/**
client/.env
client/client
client/__pycache__

*.DS_Store
.vscode/
.env
