<!DOCTYPE html>
<html lang="en-us" dir="ltr">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link href="{{ url_for('static', filename='css/dashboard/main.css') }}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard/dashboard.chunk.css') }}">
  <title>Dashboard | EdgeML</title>
</head>

<body class="tds-scrim--white">

  <!-- header -->
  <div id="tds-site-header-wrapper">
    <div id="mega-menu">
      <div class="dx-mega-menu">
        <header class="tds-site-header tds--fade-in" id="tds-site-header">
          <h1>
            <a href="/">
              <img src="{{ url_for('static', filename='img/logo.png') }}" alt="EdgeML Logo"
                style="height: 70%; width: 70%; padding-left: 30px;">
            </a>
          </h1>
        </header>
      </div>
    </div>
  </div>

  <div id="teslaaccount" class="container">
    <div class="App_AppWrapper__cbyq5">
      <div class="App_OpaqueScrim__apd8J"></div>
      <div class="styles-module_PageWrapper__wkRd7">
        <aside class="styles-module_Navigation__Jn9Z2">
          <ul class="tds-list styles-module_Navigation__z1jpg ">
            <li class="styles-module_NavigationLink__KnbW0 styles-module_Selected__0Ti4Y">
              <a href="">
                <div class="styles-module_Scrim__O5pVx">
                  <svg width="17" height="18" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M16.89 8.576 9.004.692a.657.657 0 0 0-.929 0L1.544 7.225h-.011v.01L.193 8.577a.657.657 0 1 0 .928.93l.412-.412v7.393c0 .362.294.657.657.657h4.38a.657.657 0 0 0 .657-.657V11.45h2.628v5.037c0 .362.294.657.657.657h4.38a.657.657 0 0 0 .657-.657V9.094l.411.411a.654.654 0 0 0 .93 0 .657.657 0 0 0 0-.929Zm-2.655 7.254h-3.066v-5.037a.657.657 0 0 0-.657-.657H6.57a.657.657 0 0 0-.657.657v5.037H2.847V7.78L8.54 2.086l5.694 5.694v8.05Z"
                      fill="#171A20" fill-rule="nonzero"></path>
                  </svg>
                </div>Home
              </a>
            </li>
            <li class="styles-module_NavigationLink__KnbW0 ">
              <a href="">
                <div class="styles-module_Scrim__O5pVx">
                  <svg width="16" height="17" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M7.527 8.468a4.234 4.234 0 1 0 0-8.468 4.234 4.234 0 0 0 0 8.468Zm0-7.057a2.826 2.826 0 0 1 2.823 2.823 2.826 2.826 0 0 1-2.823 2.823 2.826 2.826 0 0 1-2.823-2.823 2.826 2.826 0 0 1 2.823-2.823Zm7.5 13.754c-.619-3.112-3.702-5.286-7.5-5.286-3.797 0-6.881 2.174-7.5 5.286-.084.423.028.86.307 1.2.298.364.74.571 1.214.571h11.958c.474 0 .916-.207 1.214-.57.28-.34.391-.778.307-1.201Zm-1.52.36H1.547c-.058 0-.1-.029-.137-.085.397-1.998 2.481-4.15 6.116-4.15s5.72 2.152 6.102 4.18a.16.16 0 0 1-.123.055Z"
                      fill="#171A20" fill-rule="nonzero"></path>
                  </svg>
                </div>Profile Settings
              </a>
            </li>
            <li class="styles-module_NavigationLink__KnbW0 ">
              <a href="{{ url_for('logout') }}">
                <div class=" styles-module_Scrim__O5pVx">
                  <svg width="16" height="18" xmlns="http://www.w3.org/2000/svg">
                    <g stroke="#171A20" stroke-width="1.613" fill="none" fill-rule="evenodd" stroke-linecap="round"
                      stroke-linejoin="round">
                      <path
                        d="M6.7 8.5h8M11.294 5.106 14.688 8.5l-3.394 3.394M9.5 15.7H2.643c-.631 0-1.143-.645-1.143-1.44V2.74c0-.795.512-1.44 1.143-1.44H9.5">
                      </path>
                    </g>
                  </svg>
                </div>Sign Out
              </a>
            </li>
          </ul>
        </aside>
        <main class="styles-module_Main__GkQU0 " id="main-content">
          <h1 class="">My Home</h1>
          <div style="visibility: visible;">
            <div data-test="teslaaccount-home">
              <div class="styles_Row__C2aOM">

                <style>
                  .green-border {
                    border: 2px solid limegreen;
                  }

                  .flashing-border {
                    box-shadow: 0 0 0 2px red;
                    animation: flash 2s linear infinite;
                  }

                  @keyframes flash {

                    0%,
                    100% {
                      box-shadow: 0 0 0 2px red;
                    }

                    50% {
                      box-shadow: 0 0 0 2px transparent;
                    }
                  }
                </style>

                <!-- frame1 -->
                <div class="styles_Tile__W4LCr {{ 'flashing-border' if isIndicator else 'green-border' }}"
                  style="width: 130%; height: 700px;">
                  <div style="padding: 10px;"></div> <!-- spacing for div-->
                  <img src="{{ url_for('static', filename='img/grey.jpeg') }}" alt="EDGE_DEVICE_2"
                    style="width: 100%; height: 87%; padding-bottom: 10px;">
                  <div class="styles_TextWithButton__vsWFV">
                    <div class="">
                      <p class="tds-text--500">{{ deviceName }}</p>
                      <p class="tds-text_color--30">{{ deviceID }}</p>
                    </div>
                    <!-- class = "" must stay -->
                    <div class="">
                      <p>Alert Status: {{ isIndicator }} </p>
                      <p>System Status: {{ systemStatus }} </p>
                    </div>
                  </div>
                </div>
                <!-- frame2, add here if needed, could be written dynamically  -->
              </div>
              <div class="styles_Row__C2aOM">
                <div class="styles_Tile__W4LCr" style="width: 1250px;">
                  <div class="styles_ImageBox__vHuKP">
                    <img src="./dashboard_files/third-party-car_636x300_ed18888cb5f98.jpg" alt="">
                  </div>
                  <div class="styles_TextWithButton__vsWFV">
                    <div class="styles_ThirdPartyText__OWIxG styles_TileText__IUWhj">
                      <div class="tds-text--500">Add a new device
                      </div>
                    </div>
                    <div class="">
                      <button class="tds-btn tds-link styles_Link__QtsAa "
                        data-test="teslaaccount-third-party-add">Add</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <footer class="tds-site-footer">
      <nav class="tds-footer-nav">
        <ul class="tds-list tds-list--horizontal">
          <li class="tds-footer-item">
            <a href="" class="tds-link tds-link--secondary">EdgeML ©
              2024</a>
          </li>
        </ul>
      </nav>
    </footer>
  </div>
</body>
</div>

</html>
