.styles_Tile__W4LCr {
    border: 1px solid var(--tds-color--grey50);
    border-radius: 4px;
    display: inline-flex;
    flex-direction: column;
    height: 210px;
    justify-content: flex-end;
    margin: 20px 0 0;
    margin-inline-end: 20px;
    max-width: calc(100vw - 48px);
    min-width: 272px;
    padding: 0 20px 20px;
    position: relative;
    vertical-align: top;
    width: 318px
}

.styles_Tile__W4LCr a,
.styles_Tile__W4LCr p,
.styles_Tile__W4LCr span {
    font-size: var(--tds-font-size--20)
}

.styles_Tile__W4LCr p {
    line-height: 18px;
    padding: 0
}

.styles_Tile__W4LCr.styles_ShowUpgrades__80zdH {
    height: 264px
}

.styles_Tile__W4LCr.styles_SolarOrShop__II3Gq {
    display: inline-block;
    height: auto;
    max-height: 228px;
    overflow: hidden;
    padding: 0
}

.styles_Tile__W4LCr.styles_PaymentPending__qSP3Q {
    padding-bottom: 10px
}

.tds-theme--v6 .styles_Tile__W4LCr {
    border-radius: 15px
}

@media (max-width:425px) {
    .styles_Tile__W4LCr {
        width: 100%
    }

    .styles_TileDivCN__82GNU {
        height: 200px;
        width: 100%
    }
}

@media (min-width:724px) {
    .styles_MarketingTextWithButton__dhTPD {
        display: flex;
        flex-direction: column;
        height: calc(50% - 10px);
        justify-content: space-between;
        padding: 0 20px 30px
    }

    .styles_TileDivCN__82GNU {
        display: inline-block;
        height: 166px;
        min-width: 660px;
        padding: 0;
        position: relative;
        width: 660px
    }
}

.styles_MarketingLinks__wFnsx {
    display: flex;
    font-size: var(--tds-font-size--20);
    margin-top: 4px
}

.styles_SolarLinks__Ron9c button {
    display: inline-block
}

.styles_ImageBoxCN__54thZ,
.styles_ImageBox__vHuKP {
    overflow: hidden
}

.styles_ShopImageBox__ywUrr {
    background-color: var(--tds-color--grey70);
    display: flex;
    justify-content: center
}

.styles_CyberTruckImage__Nlhcv {
    transform: scale(.95)
}

.styles_SemiImage__pW253 {
    transform: translateY(-25px) scale(.6)
}

.styles_ShopImage__aQqG2 {
    display: block;
    height: 100%;
    margin: 12px 0 10px;
    width: 40%
}

.styles_TextWithButtonCN__HiTFp,
.styles_TextWithButton__vsWFV {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.styles_MarketingTextWithButton__40cR3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px 20px
}

.styles_MarketingImage__QCcsu {
    margin: -40px 0 10px
}

.styles_Link__QtsAa {
    border-radius: 0;
    color: var(--tds-color--grey30);
    font-size: var(--tds-font-size--20);
    height: 18px
}

.styles_RoofLink__KvuCZ {
    margin-inline-end: 10px
}

.styles_SolarLink__pAsdS {
    margin-inline-start: 10px
}

.styles_TileText__IUWhj {
    align-items: center;
    display: flex;
    min-height: 42px
}

.styles_TooltipWrapperOverrides__lDcGi {
    display: inline-block;
    position: relative
}

.styles_ThirdPartyText__OWIxG {
    font-size: var(--tds-font-size--20);
    max-width: 180px
}

.styles_ThirdPartyIcon__BaJS4.tds-icon--inline {
    max-inline-size: 0;
    min-block-size: 24px;
    top: 2px
}

a.styles_UpgradesButton__BD2Dm {
    margin-top: 15px;
    max-height: 36px;
    text-transform: uppercase
}

a.styles_UpgradesButton__BD2Dm:hover {
    color: var(--tds-button--color)
}

.styles_InProgressCN__HNih9,
.styles_InProgress__ZocpK {
    margin-bottom: 40px
}

.styles_ShopTextWithButton__2WjW6 {
    padding: 20px
}

.styles_ShopText__VNkeP {
    max-width: 180px
}

.styles_ImageBox__vHuKP img {
    cursor: default;
    transition: transform .2s ease
}

.styles_ImageBox__vHuKP button {
    cursor: default
}

.styles_ImageBox__vHuKP img.styles_Flipped__RZf6L {
    transform: rotate(180deg)
}

.styles_LegacyPowerwall__z4Ev4 {
    transform: scale(1.3)
}

.styles_RemoveCta__mbrTM {
    height: 14px
}

@media (min-width:724px) {
    .styles_MarketingTextWithButton__40cR3 {
        display: flex;
        flex-direction: column;
        height: calc(50% - 10px);
        justify-content: space-between;
        padding: 0 20px 30px
    }

    .styles_ImageBoxCN__54thZ {
        display: inline-block;
        height: 130px;
        margin-top: 10px;
        overflow: hidden;
        position: relative;
        width: 330px
    }

    .styles_ImageBoxCN__54thZ img {
        height: auto;
        margin-left: 10px;
        width: 276px
    }

    .styles_InProgressCN__HNih9 {
        margin-bottom: 40px;
        margin-top: 30px
    }

    .styles_TextWithButtonCN__HiTFp {
        display: inline-block;
        margin-top: 66px;
        position: absolute;
        width: 330px
    }

    .styles_LinkContainerCN__zEhbN {
        display: inline-block;
        text-align: right;
        vertical-align: top;
        width: 50px
    }

    .styles_TileDescriptionTextCN__Qh29k {
        display: inline-block;
        font-size: var(--tds-font-size--20);
        width: 260px
    }
}

.styles_Notifications__IVr9C.tds-status_msg {
    margin: 10px 0
}

.styles_NotificationContainer__Hp2Oe {
    background: var(--tds-color-grey-70);
    margin-top: 20px;
    padding: 10px 20px;
    width: 328px
}

.styles_NotificationDesc__cM-wO {
    margin-top: 6px
}

.styles_AppRequirement__OSakf {
    padding: 0
}

.styles_QRCode__abFd0 {
    margin-bottom: 24px;
    margin-top: 24px;
    width: 200px
}

@media (max-width:599px) {
    .styles_QRCode__abFd0 {
        margin: 24px auto
    }
}

.styles_QRCodeUrl__QX-ix {
    margin-right: 4px
}

.styles_Row__C2aOM {
    margin: 0;
    display: flex;
    justify-content: space-between;
    /* optional: adds space between the boxes */
}

@media (min-width:724px) {
    .styles_MarketRow__ceFbA {
        display: flex
    }
}

/*# sourceMappingURL=Home.988af0e5.chunk.css.map*/